:root {
    --black: #050505;
    --white: #e4e4e4;
    --pink: #ff10f0;
}

@font-face {
    font-family: "Univers Regular";
    src: url(./univers/UniversRegular.ttf);
}

@font-face {
    font-family: "Univers Bold";
    src: url(./univers/UniversBold.ttf);
}

@font-face {
    font-family: "Univers Condensed Bold";
    src: url(./univers/UniversCnBold.ttf);
}

@font-face {
    font-family: "Univers Condensed";
    src: url(./univers/UniversCnRg.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-family: "Univers Condensed";

    background-image: url(./static/bg.gif);
    background-repeat: no-repeat;
    background-size: 135%;
    background-position: center;
    background-color: rgba(11, 0, 10, 0.87);
    background-blend-mode: darken;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1280px;

    display: grid;
    grid-template-columns: 488.916px 791.084px;
    grid-template-areas: " links hero "
                         " intro hero ";

    /* background-color: var(--black); */
    color: var(--white);
}

.highlight {
    color: var(--pink);
}

.unwelcoming-msg {
    grid-area: hero;
    text-transform: uppercase;
    font-family: "Univers Condensed Bold";
    font-size: 214px;
    line-height: 147px;
    letter-spacing: -8px;
}

.small-intro {
    grid-area: intro;
    text-align: right;
    font-size: 52px;
    line-height: 43px;
    letter-spacing: -2px;
}

.small-intro u:hover {
    color: var(--pink);
}

.links {
    grid-area: links;
    text-align: right;
    align-self: flex-end;
}

.links li {
    font-size: 30px;
    letter-spacing: -2px;
}

.links li:hover {
    color: var(--pink);
    text-decoration: underline;
}

button {
    all: unset;
    cursor: pointer;
}

.hidden {
    display: none;
}

.window {
    position: absolute;
    font-family: "Univers Condensed Bold";
}

.window button {
    display: block;
    margin-left: auto;
}

.short-about-me {
    width: 396px;

    background-color: var(--pink);
    color: var(--black);
    outline: 2px solid var(--white);
}

.window a {
    color: inherit;
}

.red-flags,
.green-flags {
    margin-top: 1em;
    font-family: "Univers Condensed";
}

.my-likes {
    width: 205px;

    background-color: var(--black);
    color: var(--pink);
    outline: 2px solid var(--pink);
}

.my-likes a {
    color: inherit;
}

.my-likes .ps-note {
    margin-top: 1em;
    font-family: "Univers Condensed";
    font-size: 12px;
}

.my-dislikes {
    width: 230px;
    background-color: var(--white);
    color: var(--black);
    outline: 2px solid var(--black);
}

.other-shit {
    background-color: var(--black);
    outline: 2px solid var(--white);
    width: 267px;
    text-align: right;
}

.other-shit ul {
    margin-top: 1em;
}

.err {
    padding: 1em;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
}

.err .err-code {
    margin-bottom: 1em;
    text-decoration: underline;
}

.wip {
    background-color: var(--white);
    color: var(--black);
    outline: 2px solid var(--pink);
    text-align: center;
}

.wip img {
    width: 75px;
}